@import "./node_modules/bootstrap-icons/font/bootstrap-icons.css";
@import url("https://fonts.googleapis.com/css2?family=Georama:wght@100;300&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --backgroundBody: #a69580;
  --backgroundDivInput: #1f1f1f;
  --backgroundHeader: #0f0f0f;
  --backgroundSection: #d9c6b0;
  --backgroundEventDelete: #4e4e4e;
  --borderIcon: #495b73;

  --colorFont: #ccc;

  --font1:"Georama", sans-serif;
  --font2:'Ubuntu', sans-serif;
}

body {
  background-color: var(--backgroundBody);
}

img {
  width: 80px;
  height: 80px;
}

.mark {
  background-color: grey;
  color: white;
  text-decoration: line-through;
  opacity: 40%;
}

.delete {
  animation-duration: 0.6s;
  animation-name: delete;
}

@keyframes delete {
  from {
    opacity: 60%;
  }

  to {
    opacity: 0%;
  }
}
